@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #1b1b22;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    min-height: 100vh;
}

/* Custom Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
    max-height: 20px; 
    height: 20px;
}
::-webkit-scrollbar-track{
    background-color: #1b1b22;
}
::-webkit-scrollbar-thumb{
    background-color: #e98b2c;
}


button{
    position: absolute;
    align-items: center;
    top: 10vh;
    padding: 4px 6px;
    background: #32323a;
}
button a{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #c8c8c8;
    text-decoration: none;
}
button a i{
    font-size: 16px;
    font-weight: 300;
    color: #c8c8c8;
}
/* Portfolio Section */
.wrappa p{
    position: absolute;
    top: 18vh;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #eea16d;
    opacity: .4;
    animation: p 0.6s linear infinite;
    padding: 5px 16px;
    z-index: -1;
    bottom: 30px;
}
@keyframes p{
    0%{
        transform: scale(1.07);
    }
    80%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(0.7);
    }
}
.wrappa{
    max-width: 1100px;
    margin-top: 18vh;
}
.wrappa .gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.gallery span{
    display: flex;
    width: 100%;
    overflow: hidden;
}
.gallery .image{
    padding: 7px;
    width: calc(100% /3);
}
.gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .image:hover img{
    transform: scale(1.1);
}

/* responsive */
@media (max-width:1000px){
    .gallery .image{
        width: calc(100%/2);
    }
}
@media (max-width:600px){
    .gallery .image{
        padding: 4px;
        width: 100%;
    }
}

.preview-box{
    position: fixed;
    max-width: 800px;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, 50%) scale(0.9);
    background: #bfc1c2;;
    padding: 0 5px 5px 5px;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0,0,0,.2);
}
.preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
}
.preview-box .details .icon{
    color: #ff0000;
    cursor: pointer;
    font-size: 20px;
}
.details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
}
.details .title p{
    display: flex;
    width: 100%;
}
.details .title p.current-img{
    font-weight: 600;
}
.preview-box .img-box{
    display: flex;
    width: 100%;
}
.img-box .slide{
    position: absolute;
    top: 50%;
    z-index: 3;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #e98b2c;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.img-box .slide.prev{
    left: 0;
    font-size: 40px;
}
.img-box .slide.next{
    right: 0;
    font-size: 40px;
}
.preview-box .img-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}
.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0,0,0,.4);
}

/* Footer */
footer{
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0;
    height: 6vh;
    background: rgba(0,0,0,.8);
}
.social-btn i{
    color: #bfc1c2;;
    font-size: 18px;
    margin: 4px;
    margin-top: 10px;
    cursor: pointer;
    float: right;
    padding-right: 5px;
}
.social-btn i:hover{
    color: 	#90021D;
}
.copyright p{
    color: #bfc1c2;;
    font-size: 16px;
    font-weight: 400;
    float: left;
    padding: 14px 10px;
}
.copyright p span{
    color: #90021D;
}

/* Responsiveness */
@media (max-width: 991px){
    .wrappa{
        margin-top: 18vh;
    }
    .wrapper ul li{
        margin: 15px 0;
    }
    .wrapper ul li a{
        display: block;
        text-decoration: none;
        position: relative;
    }
    .lite-text{
        font-size: 100px;
        letter-spacing: 5px;
    }
    .footer{
        width: auto;
    }
    .social-btn i{
        font-size: 15px;
    }
    .copyright p{
        font-size: 15px;
        left: 50px;
        
    }
    h1{
        font-size: 24px;
        text-align: center;
        padding: 0 20px;
    }
    .wrappa p{
        display: none;
    }
}